.MuiCardMedia-root {
  border-radius: 15px;
}
.MuiButtonBase-root {
  display: flex !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

/* .MuiPaper-root {
  background-color: #4a45ee !important;
} */
